    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="d-flex align-items-center">
              <img
                src="resources/img/logo/logo.jpg"
                width="25px"
                height="25px"
                style="margin-right: 3%"
              />
              <p style="margin-top: 3%" class="text-muted">
                &copy;2023, Cristal-Aqua
              </p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="nav nav-pills justify-content-end">
              <!-- Añade la clase justify-content-end aquí -->
              <li class="ms-3">
                <a class="text-muted" href="#"
                  ><img
                    src="resources/img/redSocial/Instagram.png"
                    class="bi"
                    width="24"
                    height="24"
                /></a>
              </li>
              <li class="ms-3">
                <a class="text-muted" href="#"
                  ><img
                    src="resources/img/redSocial/Discord.png"
                    class="bi"
                    width="24"
                    height="24"
                /></a>
              </li>
              <li class="ms-3">
                <a class="text-muted" href="#"
                  ><img
                    src="resources/img/redSocial/Twitter.png"
                    class="bi"
                    width="24"
                    height="24"
                /></a>
              </li>
              <li class="ms-3">
                <a class="text-muted" href="#"
                  ><img
                    src="resources/img/redSocial/facebook.png"
                    class="bi"
                    width="24"
                    height="24"
                /></a>
              </li>
              <li class="ms-3">
                <a class="text-muted" href="#"
                  ><img
                    src="resources/img/redSocial/email.png"
                    class="bi"
                    width="24"
                    height="24"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>