<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general/bootstrap.min.css">
    <link rel="stylesheet" href="css/footer/style_footer.css">
    <link rel="stylesheet" href="css/header/style_header.css">
    <link rel="stylesheet" href="css/general/style.css">
    
    <link rel="stylesheet" type="text/css" href="css/carrucel/carousel.rtl.css">
    <link rel="stylesheet" type="text/css" href="css/carrucel/carousel.css">
    <script src="js/bootrap/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>

  <div class="borde-header">
    <div class="">
    <header class="elemento-con-sombra d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom " style="width: 100%; margin-bottom: 3%;">
      <img src="resources/img/logo/logo.jpg" width="50px"; height="50px">
      <h4 style="padding-right: 50%; margin-left: 1%; padding-top: 1%;">CRISTAL-AQUA</h4>      
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/"  class="px-2 link_header">Inicio</a></li>
        <li class="nav-item"><a href="/acercade" class="px-2 link_header_secondary">Acerca de</a></li>
        <li class="nav-item"><a href="/contacto" class="px-2 link_header">Contacto</a></li>
      </ul>    
    </header>  
    </div>
  </div>

    <main>

        <div class="container marketing">
            <h4>Desarrolladores de Cristal Acua</h4>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7">
                  <h2 class="featurr fw-normal lh-1">Habilidad para Formular Preguntas de Investigación</h2>
                  <p class="lead">Los participantes aprenderán a formular preguntas de investigación claras, específicas y significativas. Sabrán cómo identificar problemas de investigación, definir objetivos y establecer hipótesis, lo que es fundamental para cualquier proyecto de investigación.</p>
              </div>
              <div class="col-md-5">
                  <img src="resources/img/perfiles_equipo/4.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
              </div>
            
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Competencia en Métodos de Investigación:</h2>
                <p class="lead">Los participantes adquirirán conocimientos sobre diversos métodos de investigación, incluyendo métodos cualitativos y cuantitativos. Aprenderán a seleccionar y aplicar técnicas adecuadas para recopilar y analizar datos, así como a evaluar la validez y fiabilidad de los métodos utilizados.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img src="resources/img/perfiles_equipo/3.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
              
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Habilidad para Comunicar Resultados:</h2>
                <p class="lead">Los participantes desarrollarán habilidades para presentar y comunicar efectivamente los resultados de su investigación. Esto incluirá la capacidad para crear informes claros y bien estructurados, utilizar gráficos y visualizaciones para representar datos, y presentar sus hallazgos de manera oral de manera coherente y persuasiva.</p>
              </div>
              <div class="col-md-5">
                <img src="resources/img/perfiles_equipo/2.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
              </div>
            </div>
        

            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Competencia en Métodos de Investigación:</h2>
                <p class="lead">Los participantes adquirirán conocimientos sobre diversos métodos de investigación, incluyendo métodos cualitativos y cuantitativos. Aprenderán a seleccionar y aplicar técnicas adecuadas para recopilar y analizar datos, así como a evaluar la validez y fiabilidad de los métodos utilizados.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img src="resources/img/perfiles_equipo/1.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
              
              </div>
            </div>

            <hr class="featurette-divider">
        
            <!-- /END THE FEATURETTES -->
        
          </div><!-- /.container -->



    </main>

    {{> _footer}}
 
    
</body>
</html>