<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general/bootstrap.min.css">
    <link rel="stylesheet" href="css/footer/style_footer.css">
    <link rel="stylesheet" href="css/header/style_header.css">
    <link rel="stylesheet" href="css/general/style.css">
    
    <link rel="stylesheet" type="text/css" href="css/carrucel/carousel.rtl.css">
    <link rel="stylesheet" type="text/css" href="css/carrucel/carousel.css">
    <script src="js/bootrap/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>

  <div class="borde-header">
    <div class="">
    <header class="elemento-con-sombra d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom " style="width: 100%; margin-bottom: 3%;">
      <img src="resources/img/logo/logo.jpg" width="50px"; height="50px">
      <h4 style="padding-right: 50%; margin-left: 1%; padding-top: 1%;">CRISTAL-AQUA</h4>      
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/"  class="px-2 link_header">Inicio</a></li>
        <li class="nav-item"><a href="/acercade" class="px-2 link_header_secondary">Acerca de</a></li>
        <li class="nav-item"><a href="/contacto" class="px-2 link_header">Contacto</a></li>
      </ul>    
    </header>  
    </div>
  </div>

    <main>

        <div class="container marketing">
              <h4>Desarrolladores de Cristal Acua</h4>
              <hr class="featurette-divider">
              <div class="row featurette">
                  <div class="col-md-7">
                      <h2 class="featurr fw-normal lh-1">Líder del Proyecto y Desarrollador Backend con Enfoque en Machine Learning</h2>
                      <p class="lead">Como líder del proyecto, asumo el rol de desarrollador backend, encargado de construir la infraestructura del servidor en Node.js utilizando Express y Socket.IO. Mi enfoque incluye la integración de tecnologías como Arduino e IoT para proporcionar una experiencia en tiempo real excepcional. Además, aprovecho mis conocimientos en machine learning para detectar patrones en los datos del sistema acuapónico, mejorando la eficiencia y la toma de decisiones. Trabajo incansablemente para garantizar una comunicación eficiente entre dispositivos, creando así una plataforma robusta y receptiva. Contribuyo activamente al diseño de la interfaz web, asegurando una experiencia visualmente atractiva y funcional para nuestros usuarios.</p>
                  </div>
                  <div class="col-md-5">
                      <img src="resources/img/perfiles_equipo/4.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
                  </div>
              </div>

            <hr class="featurette-divider">
        
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Especialista en Diseño y Implementación de Redes Locales</h2>
                    <p class="lead">Como el experto encargado de nuestro diseño de red, me especializo en la recolección precisa de especificaciones para garantizar un maquetado eficiente. Mi enfoque se centra en implementar redes locales que facilitan una comunicación fluida entre dispositivos. Además, cuento con competencias sólidas en métodos de investigación para evaluar y seleccionar las mejores soluciones en términos de escalabilidad y rendimiento.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="resources/img/perfiles_equipo/3.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
                </div>
            </div>

        
            <hr class="featurette-divider">
        
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Desarrollador Front-End y Coordinador de Proyectos</h2>
                    <p class="lead">Como líder en el desarrollo del front-end, mi enfoque se centra en crear experiencias de usuario cautivadoras y funcionales. Trabajo en la visualización precisa de datos provenientes de los sensores en nuestra página web, asegurando una interfaz intuitiva y atractiva. Además, asumo la responsabilidad de coordinar eficazmente todos los aspectos del proyecto, garantizando una ejecución armoniosa y el cumplimiento de los objetivos establecidos.</p>
                </div>
                <div class="col-md-5">
                    <img src="resources/img/perfiles_equipo/2.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
                </div>
            </div>

            <hr class="featurette-divider">
        
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Especialista en Implementación y Diseño del Sistema Acuapónico</h2>
                    <p class="lead">Como encargado de la implementación del maquetado en nuestro sistema acuapónico, lidero la construcción de un entorno visualmente atractivo y funcional. Mi experiencia abarca la gestión de la red local, asegurando una comunicación eficiente entre dispositivos. Además, colaboro activamente en la ideación y ejecución de estrategias para mejorar la visualización de datos a través de gráficas, contribuyendo así a una experiencia integral para nuestros usuarios.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="resources/img/perfiles_equipo/1.jpeg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
                </div>
            </div>


            <hr class="featurette-divider">
        
            <!-- /END THE FEATURETTES -->
        
          </div><!-- /.container -->



    </main>

    {{> _footer}}
 
    
</body>
</html>