<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

    <title>Panel administrativo</title>
    <link rel="stylesheet" href="css/general/bootstrap.min.css">
    <link rel="stylesheet" href="css/footer/style_footer.css">
    <link rel="stylesheet" href="css/header/style_header.css">
    <link rel="stylesheet" href="css/general/style.css">
    <link rel="stylesheet" href="css/general/bootstrap.css">

    <link rel="stylesheet" href="css/paneladministrador/style-panel.css">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/paneladministrador/sb-admin-2.css" rel="stylesheet">
    <!-- En el encabezado HTML -->
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion bg-danger imagenAtras" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/panelhome">
                <div class="sidebar-brand-icon rotate-n-15">
                    
                </div>
                <div class="sidebar-brand-text mx-3">Crystal-Aqua</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Panel Administrativo
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/panelhome" >
                    <i style="color: rgb(244, 243, 243);" class="fas fa-fw fa-table"></i>
                    <span style="color: rgb(255, 255, 255); font-weight: bold; font-size: 15px;">Sistemas Acuapónicos</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-5 static-top shadow">


                    
                    <div class="">
                        <!--contenedor del header y que se visualice bien-->
                        <div class="borde-header">
                            <div class="">
                              <header class="d-flex justify-content-between align-items-center py-3 border-bottom">
                                <img src="resources/img/logo/logo.jpg" width="50px" height="50px" class="mr-3">     
                              </header>
                            </div>
                        </div> 
                    </div>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav mr-lg-5 ml-auto">
                        <li class="nav-item"><a href="/panelhome" class="px-2 link_header_secondary">Panel de Administrador</a></li>
                        <li class="nav-item"><a href="/panelhomeperfil" class="px-2 link_header">Perfil</a></li>
                        <li class="nav-item">
                            <a href="#" class="px-2 link_header_secondary" onclick="confirmarCerrarSesion()">Cerrar sesión</a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Sistema Acuapónico</h1>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Después de la tabla de registrados -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Temperatura de la pecera</h6>
                                </div>
                                <div class="card-body">
                                    <canvas id="graficoMonitoreo1" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- Después de la tabla de registrados -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Caudal de flujo</h6>
                                </div>
                                <div class="card-body">
                                    <canvas id="graficoMonitoreo2" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabla de registrados</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>COD acuaponio</th>
                                            <th>Tamaño Pecera</th>
                                            <th>Num peces</th>
                                            <th>Num de plantas</th>
                                            <th>Especificaciones</th>
                                            <th>Monitoreo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabledoyData">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->


            {{> panelhomefooter}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    {{> panelhomefooter_sig}}
    <script src="./socket.io/socket.io.js"></script>

    <script src="js/getinfoDatahome.js"></script>
    <script src="js/getDataGraficas.js"></script>

    <script>
  function confirmarCerrarSesion() {
    // Muestra un cuadro de diálogo de confirmación
    const confirmacion = confirm('¿Estás seguro de que quieres cerrar la sesión?');

    // Si el usuario hace clic en "Aceptar", redirige a la ruta de cerrar sesión
    if (confirmacion) {
      window.location.href = '/cerrarsesion';
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>

</html>