<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general/bootstrap.min.css">
    <link rel="stylesheet" href="css/footer/style_footer.css">
    <link rel="stylesheet" href="css/header/style_header.css">
    <link rel="stylesheet" href="css/general/style.css">
    <link rel="stylesheet" type="text/css" href="css/carrucel/carousel.rtl.css">
    <link rel="stylesheet" type="text/css" href="css/carrucel/carousel.css">
    <script src="js/bootrap/bootstrap.bundle.min.js"></script>
    
    <title>Document</title>
</head>
<body>

    <div class="borde-header">
      <div class="">
      <header class="elemento-con-sombra d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom " style="width: 100%; margin-bottom: 3%;">
        <img src="resources/img/logo/logo.jpg" width="50px"; height="50px">
        <h4 style="padding-right: 50%; margin-left: 1%; padding-top: 1%;">CRISTAL-AQUA</h4>      
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/"  class="px-2 link_header_secondary">Inicio</a></li>
          <li class="nav-item"><a href="/acercade" class="px-2 link_header">Acerca de</a></li>
          <li class="nav-item"><a href="/contacto" class="px-2 link_header">Contacto</a></li>
        </ul>    
      </header>  
      </div>
    </div>

    <!--Carrusel-->
    <nav>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 0px;">
            <div class="carousel-inner">
                <div class="carousel-item opacidad-imagen" data-bs-interval="13000">
                    <img src="resources/img/ilustraciones/1.png" alt="Primera diapositiva" width="100%"
                        height="100%">
                    <div class="carousel-caption text-start">
                        <h1>Monitoreo en Tiempo Real</h1>
                        <p class="opacity-75">La IoT permite la monitorización continua de factores cruciales como la calidad del agua, la temperatura y la salud de los peces y plantas.</p>
                    </div>
                </div>
                <div class="carousel-item opacidad-imagen" data-bs-interval="13000">
                    <img src="resources/img/ilustraciones/8.png" alt="Segunda diapositiva" width="100%"
                        height="100%">
                    <div class="carousel-caption text-start">
                        <h1>Integración con Técnicas de Machine Learning</h1>
                        <p class="opacity-75">La sinergia entre sistemas acuapónicos y la Internet de las Cosas (IoT) brinda la capacidad de realizar un análisis de datos profundo y significativo.</p>
                    </div>
                </div>
                <div class="carousel-item active opacidad-imagen" data-bs-interval="13000">
                    <img src="resources/img/ilustraciones/7.png" alt="Tercera diapositiva" width="100%"
                        height="350px">
                    <div class="carousel-caption text-start">
                        <h1>Escalabilidad y Adaptabilidad IoT</h1>
                        <p class="opacity-75">Pueden integrarse fácilmente nuevas tecnologías y dispositivos, lo que permite a los usuarios mantenerse actualizados con las últimas innovaciones y ajustar sus operaciones según sus necesidades cambiantes.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    </nav>

    <main>
        <section>
        <article class="container">
                <div class="container py-4">           
                    <div class="row align-items-md-stretch">
                      <div class="col-md-6">
                        <!--La sección de presentasión del sitio web-->
                        <div class="h-100 p-5 text-white bg-dark rounded-3"> 
                          <h2>Cristal-Aqua</h2>
                          <h4>Monitoreo y Control Automatizado para la Sostenibilidad en Acuicultura</h4>
                          <p>La implementación de un sistema automatizado de monitoreo y control, utilizando sensores y actuadores, es esencial para reducir el estrés de los peces y mejorar significativamente su calidad de vida. Este enfoque no solo beneficia a los peces, sino también a la industria de la acuicultura en su conjunto, promoviendo la sostenibilidad del sistema.

                            La justificación de mejorar la calidad de vida de los peces es multifacética. En primer lugar, al reducir el estrés en su entorno, los peces se vuelven menos propensos a enfermedades, lo que a su vez contribuye a un aumento en su salud general. Un ambiente menos estresante también tiene un impacto directo en la calidad de la carne del pez, mejorando su textura y sabor.
                          </p>    
                        </div>
                      </div>
                      <!--La sección de inicio de sesión-->
                      <div class="col-md-6"> 
                        <div class="h-100 p-5 border rounded-3">
                            <form id = "formss" action="/login" method="post">
                              <h2 class="fs-5 fw-bold mb-3">Bienvenido</h2>
                              <div class="mb-3">
                                 <label for="username" class="form-label">Nombre de Usuario:</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="AA123ASD" required>
                                <div class="userna is-invalid"></div>
                              </div>
                              <div class="mb-3">
                                 <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
                                 <div class="pass is-invalid"></div>
                              </div>
                              <input type="submit" value="Iniciar sesión" class="w-100 mb-2 btn rounded-4 btn-primary">
                              <a href="/recuperar">¿Olvidaste la contraseña?</a>
                              <hr class="my-3">
                              <a href="/registro"><button class="w-100 py-2 mb-2 btn btn-outline-info rounded-4" type="button">Crear Cuenta</button></a>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
        </article>
        </section>
        <br>
        <section>
            <article class="container">
                <div class="album py-5 bg-body-tertiary">
                    <div class="container">

                    <h2>Fuentes de consulta sobre Sistemas acuaponicos</h2>
                    <br>  
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="resources/img/albahaca/albahaca1.jpg" alt="Hidroponia Albahaca" width="100%" height="280px">
                            <div class="card-body">
                              <p class="card-text"><strong>Albahaca Hidropónica</strong> <br> La hidroponía ofrece muchas ventajas, que incluyen mayores rendimientos y superación de limitaciones en lugares como el suministro de agua y el espacio de tierra</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://krosagro.com/es/tuneles-de-plastico/como-cultivar-albahaca-hidroponica-en-4-sencillos-pasos/">View</a></button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="resources/img/albahaca/albahaca2.jpg" alt="acuaponia" width="100%" height="100%">
                              <div class="card-body">
                              <p class="card-text">La acuaponía representa la relación entre el agua, la vida acuática, las bacterias, la dinámica de los nutrientes y las plantas que crecen juntas en los cursos de agua de todo el mundo.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="https://ecoinventos.com/acuaponia/#google_vignette">View</a> </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="resources/img/tilapias/tilapias1.png" alt="acuaponio" width="100%" height="100%">
                            <div class="card-body">
                              <p class="card-text">Es la producción de peces y plantas en un sistema de recirculación cerrado. Los efluentes ricos en nutrientes de los tanques de los peces son usados para fertilizar la producción hidropónica.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="https://www.hydroenv.com.mx/catalogo/index.php?main_page=page&id=147">View</a></button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                              <img src="resources/img/tilapias/tilapias2.jpg" alt="Medusas: los maestros del aprendizaje sin cerebro central" width="100%" height="100%">
                              <div class="card-body">
                                <p class="card-text">La acuaponía se deriva de la acuicultura, que es la producción de organismos acuáticos, y de la hidroponia, que es la producción de plantas sin suelo. Consiste en la crianza de animales acuáticos mientras que al mismo tiempo se cultivan plantas.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.gob.mx/agricultura/es/articulos/acuaponia-una-alternativa-sustentable-para-la-producir-plantas-y-peces">View</a> </button>
                                  </div>
                                  <small class="text-body-secondary">9 mins</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card shadow-sm">
                              <img src="resources/img/IOTacuaponia/IOT1.png" alt="Medusas: los maestros del aprendizaje sin cerebro central" width="100%" height="100%">
                              <div class="card-body">
                                <p class="card-text">La automatización en acuaponía se refiere a la utilización de recursos tecnológicos disponibles en la actualidad; a fin de realizar las tareas de producción que generalmente se realizan de forma manual.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="https://agrotendencia.tv/agropedia/cultivos/hidroponia/la-automatizacion-en-acuaponia-un-lujo-o-necesidad/">View</a></button>
                                  </div>
                                  <small class="text-body-secondary">9 mins</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card shadow-sm">
                              <img src="resources/img/IOTacuaponia/IOT2.png" alt="Medusas: los maestros del aprendizaje sin cerebro central" width="100%" height="100%">
                              <div class="card-body">
                                <p class="card-text">La automatización en acuaponía es muy recomendable pues se requiere de un monitoreo constante de los parámetros ambientales y de calidad de agua; con el fin de mantener un balance entre peces, bacterias y plantas.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://agrotendencia.tv/agropedia/cultivos/hidroponia/la-automatizacion-en-acuaponia-un-lujo-o-necesidad/">View</a></button>
                                  </div>
                                  <small class="text-body-secondary">9 mins</small>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </article>
        </section>
        <br>


    </main>

    {{> _footer}}
 
    
    <script src="js/script.js"></script>

</body>
</html>