<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 mt-3">
                    <div class="carlogin">
                    <h2 class="text-center mb-4">Iniciar Sesión</h2>
                    <form id="formss" action="/login" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            <div class="userna invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="pass invalid-feedback"></div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </form>
                    
                    <div class="text-center">
                        <small class="text-body-secondary">
                            <p>¿No tienes una cuenta? <a href="registro.php" class="text-decoration-none">Registrate</a></p>
                        </small>
                    </div>                 
                    </div>
                </div>
            </div>
            <script src="js/iniciosesion.js"></script>
             
        </div>
    </main>

</body>
</html>