<!DOCTYPE html>
<html>
    <head>
        <title>Cristal-Aqua</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/general/bootstrap.min.css">
        <link rel="stylesheet" href="css/footer/style_footer.css">
        <link rel="stylesheet" href="css/header/style_header.css">
        <link rel="stylesheet" href="css/general/style.css">

    </head>
    <body>       
      <div class="borde-header">
        <div class="">
        <header class="elemento-con-sombra d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom " style="width: 100%; margin-bottom: 3%;">
          <img src="resources/img/logo/logo.jpg" width="50px"; height="50px">
          <h4 style="padding-right: 50%; margin-left: 1%; padding-top: 1%;">CRISTAL-AQUA</h4>      
          <ul class="nav nav-pills">
               <li class="nav-item"><a href="/" class="px-2 link_header_secondary">Inicio</a></li>
                <li class="nav-item"><a href="/acercade" class="px-2 link_header">Acerca de</a></li>
                <li class="nav-item"><a href="/contacto" class="px-2 link_header">Contacto</a></li>
            </ul>    
        </header>  
        </div>
      </div>
        <main>
          <div class="container mt-5">
            <!-- Primera parte del formulario: Información de la cuenta -->
            <div id="parte1" class="card">
                <div class="card-header">
                    <h5 class="card-title">Registro de usuario</h5>
                </div>
                <div class="card-body">
                  <form>
                      <div class="row g-3">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="usuario">Nombre de Usuario</label>
                                  <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario">
                                  <div class="user is-invalid"></div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="contrasena">Contraseña</label>
                                  <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
                                  <div class="pass is-invalid"></div>
                              </div>                    
                          </div>
                          <div class="col-sm-3">
                          <!-- Información del usuario -->
                              <div class="form-group">
                                  <label for="nombre">Nombre</label>
                                  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                                  <div class="nombr is-invalid"></div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-group">
                                  <label for="apellido">Apellidos</label>
                                  <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su apellido">
                                  <div class="apell is-invalid"></div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-group">
                                  <label for="puesto">Puesto</label>
                                  <input type="text" class="form-control" id="puesto" name="puesto" placeholder="Administrador" disabled>
                                  <div class="pues is-invalid"></div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="form-group">
                                  <label for="genero">Género</label>
                                  <select class="form-control" id="genero" name="genero">
                                      <option value="1">Masculino</option>
                                      <option value="0">Femenino</option>
                                      <option value="otro">Otro</option>
                                  </select>
                                  <div class="gene is-invalid"></div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="telefono">Teléfono</label>
                                  <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su número de teléfono">
                                  <div class="tele is-invalid"></div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <!-- Información de contacto -->
                                  <div class="form-group">
                                      <label for="correo">Correo</label>
                                      <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
                                      <div class="corr is-invalid"></div>
                                    </div>
                              </div>
      
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="fechanacimiento">Fecha de Nacimiento</label>
                                  <input type="date" class="form-control" id="fechanacimiento" name="fechanacimiento" value="Fecha actual">
                                  <div class="fech is-invalid"></div>
                                </div>                    
                          </div>
      
                  </div>
                  </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <div style="display: flex; gap: 10px;">
                                <button id="btnSiguiente1" class="btn btn-primary" style="width: 100px;">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Última actualización: 21 de noviembre de 2023
                </div>
            </div>
        
            <!-- Segunda parte del formulario: Información de contacto -->
            <div id="parte2" class="card" style="display: none;">
                <div class="card-header">
                    <h5 class="card-title">Registro de usuario</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" id="estado" name="estado">
                            </select>
                            <div class="esta is-invalid"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="municipio">Municipio</label>
                            <select class="form-control" id="municipio" name="municipio">
                                <!-- Opciones del municipio -->
                            </select>
                            
                            <div class="muni is-invalid"></div>

                        </div>
                    </div>
                                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="colonia">Colonia</label>
                                <input type="text" class="form-control" id="colonia" name="colonia" placeholder="Ingrese su colonia">
                                <div class="colo is-invalid"></div>

                            </div>                    
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="postal">Codigo postal</label>
                                <input type="text" class="form-control" id="postal" name="postal" placeholder="Ingrese su codigo postal">
                                <div class="post is-invalid"></div>

                              </div>                    
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="call">Calle</label>
                                <input type="text" class="form-control" id="call" name="call" placeholder="Ingrese su calle">
                                <div class="calle is-invalid"></div>
                              </div>                    
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="callExt">Num Exterior</label>
                                <input type="text" class="form-control" id="callExt" name="callExt" placeholder="Ingrese su num exterior">
                                <div class="callE is-invalid"></div>
                              </div>                    
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="callInt">Num Interior</label>
                                <input type="text" class="form-control" id="callInt" name="callInt" placeholder="Ingrese su num interior">
                                <div class="callI is-invalid"></div>
                              </div>                    
                        </div>
                    </div>
                </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <div style="display: flex; gap: 10px;">
                                <button id="btnAnterior2" class="btn btn-primary" style="width: 100px;">Anterior</button>
                                <button id="btnGuardar" class="btn btn-success" style="width: 100px;" data-toggle="modal">Guardar</button>                           
                              </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Última actualización: 21 de noviembre de 2023
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Información de registro</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="row g-3">
                          <div class="col-sm-6">
                              <p>Nombre de Usuario: <strong id="usuarioM"></strong></p>
                          </div>
                          <div class="col-sm-6">
                              <p>Contraseña: <strong id="contrasenaM"></strong></p>
                          </div>
                          <div class="col-sm-3">
                              <p>Nombre: <strong id="nombreM"></strong></p>
                          </div>
                          <div class="col-sm-3">
                              <p>Género: <strong id="generoM"></strong></p>
                          </div>
                          <div class="col-sm-6">
                              <p>Teléfono: <strong id="telefonoM"></strong></p>
                          </div>
                          <div class="col-sm-6">
                              <p>Correo: <strong id="correoM"></strong></p>
                          </div>
                          <div class="col-sm-6">
                              <p>Fecha de Nacimiento: <strong id="fechanacimientoM"></strong></p>
                          </div>
                          <div class="col-sm-6">
                              <p>Estado: <strong id="estadoM"></strong></p>
                          </div>
                          <div class="col-sm-6">
                              <p>Municipio: <strong id="municipioM"></strong></p>
                          </div>
                          <div class="col-sm-3">
                              <p>Colonia: <strong id="coloniaM"></strong></p>
                          </div>
                          <div class="col-sm-3">
                              <p>Codigo postal: <strong id="postalM"></strong></p>
                          </div>
                          <div class="col-sm-3">
                              <p>Calle Exterior: <strong id="callExtM"></strong></p>
                          </div>
                          <div class="col-sm-3">
                              <p>Calle Interior: <strong id="callIntM"></strong></p>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="submit" id="btnregistrar" class="btn btn-primary">Registrar</button>
                  </div>
              </div>
          </div>
        </div>
          
        </main>


      <script src="js/scrip.js"></script>
      <script src="js/validationsRegister.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    </body>
</html>